.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
}

.result {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 70%;
  height: 40px;
  color: white;
  background-color: #858694;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 17px;
  margin: 0 auto;
}

span {
  padding-right: 10px;
}

.num {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.num button {
  width: 25%;
  padding: 4% 1%;
  font-size: 10px;
}

.act {
  background-color: #f5913e;
  border-style: inset;
  border-width: 0.1px;
}

.zero {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.zb {
  width: 25%;
  padding: 4% 1%;
  font-size: 10px;
}

.o {
  width: 50%;
  padding: 4% 1%;
  font-size: 10px;
}
